<footer>
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="large-text">Live Attendance Tracker And Student Sign-In System</div>
    <img src="/MailCameLogo.png" class="footer-logo" alt="MailCame BC. Logo">
  </footer>
  