<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>QR Code Scanner</title>
  <style>
   #video-container {
      position: relative;
      width: 100%;
      max-width: 640px; /* Adjust as needed */
      transform: scaleX(-1);
    }
    #video-feed {
      width: 100%;
      height: auto;
      transform: scaleX(-1);
    }
    #qr-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      text-align: center;
    }
    header {
      background-color: #5999ce;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 700;
      color:#f8f8f8;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
    }
    nav ul li {
      margin-right: 20px;
    }
    .container {
      background-color: #ffffff;
      padding: 40px;
      text-align: center;
      
    }

    li a {

        color:#f8f8f8;
        text-decoration: none;
    }

    .container h1 {
      margin-bottom: 20px;
      font-size: 32px;
      color: #333333;
    }
    .container p {
      color: #666666;
    }
    .container img {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-top: 20px;
    }
    footer {
        background-color: #5999ce;
      color: #ffffff;
      padding: 40px;
      text-align: center;
    }
    footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    footer ul li {
      margin-right: 20px;
    }
    .large-text {
      font-size: 24px;
      font-weight: 700;
      margin-top: 20px;
    }

    .centered-video {
      width: 400px; /* Adjust width as needed */
      margin: 0 auto; /* Center horizontally */
      text-align: center;
      border-radius: 10px; /* Rounded corners */
      border: 1px solid #333; /* Border */
      padding: 20px;
      margin-bottom: 20px;
    }
    .centered-video header {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .centered-video p {
      font-size: 16px;
      color: #666;
    }
    .centered-video video {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 8px; /* Rounded corners for video */
    }

    table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }



        .rcontainer {
            display: flex; /* Added to make it a flex container */
  justify-content: space-around;
  border: 2px solid #5999ce;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

}

.flex-item {
    width: calc(30% - 40px); /* 20% width with 20px left and right padding */
  min-height: 100px;
  border-right: 1px solid #5999ce;
  border-left: 1px solid #5999ce;
  
  box-sizing: border-box;
  display: flex;
 flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rheader {
  font-size: 18px;
  margin-bottom: 10px;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.button {
  border: 2px solid #5999ce;
  border-radius: 5px;
  background-color: #5999ce;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #5999ce;
}

.form-group {
            margin-bottom: 15px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group input::placeholder {
            color: #aaa;
        }

  </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
 
<body>
    <header>
        <div class="logo">Attendance Hub</div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/roll">Roll Data</a></li>
            <li><a href="/allcodes">All Codes</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
