<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="../../../../../liam.css">

  <title>QR Code Scanner</title>
  <style>
   

  </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
 
<body>
  
    <header>
        <div class="logo">Attendance Hub</div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/roll">Roll Data</a></li>
            <li><a href="/allcodes">All Codes</a></li>
            
            <% if(user) { %>
             
                <li><a href="#">Welcome <%= user.displayName %>!</a></li>
                <% if(user.adminr) { %>
                  <li><a href="/admin">Admin</a></li>
                  <% } else { %>
                    <% } %> 
              <li><a href="/logout">Log Out!</a></li>
             
            
          <% } else { %>
            <li><a href="/login">Log In</a></li>
            <li><a href="/Register">Register</a></li>
              <% } %>
          </ul>
        </nav>
      </header>
