
<%- include('../partials/header') -%>

<div class="container">
    <h1>Student Attendance Statistics Per Group</h1>
    <p>Click a class to see a list of all students in that module that have recordes an attendance so far.</p>
    <p>From there you can click each student to see detailes attendance statistics</p>

    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>No Attended</th>
                
            </tr>
        </thead>
        <tbody>
            <% result.forEach(item => { %>
                <tr>
                    <td><%= item.class %></td>
                    <td><a href="/classattendance/<%= item.class %>">See Students</a></td>
                    
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>




<%- include('../partials/footer') -%>
</body>
</html>

   