
<%- include('../partials/header') -%>
<div class="container">
 


<h1>Manually Alter Attendance</h1> 
<p>Select The Group You Want To Manually Alter Attendance For</p>





<div class="rcontainer">
    <table>
        <thead>
            <tr>
                <th>Module Name</th>
                <th>Attendance Link</th>
              
            </tr>
        </thead>
        <tbody>
            <% result.forEach(item => { %>
                <tr>
                    <td><%= item.class %></td>
                    <td><a href="/manualattendancemodules/<%= item.class %>">Manually Alter Attendance for </a></td>
                   
                </tr>
            <% }); %>
        </tbody>
    </table>
    

    

</div>

</div>

<%- include('../partials/footer') -%>
</body>
</html>

   