

<%- include('../partials/header') -%>
<div class="container">
   
    <h1>Admin Verification Pending</h1>
    <div class="rcontainer">
            
       
           
                
            <div class="flex-item">
                <h2>Verification Needed</h2>
                <p>It looks as if your administration rights are still pending. Please be patient as we verify your account</p>
                <p>If this is taking too long please let your IT department know.</p>
            </div>
       
          
        
   
    </div>

    </div>

    <%- include('../partials/footer') -%>