<%- include('../partials/header') -%>
      <div class="container">
       
            <h1>Roll & Attendance Menu</h1>
            <p>Below are a list of things that you can use to get attendace recors for students</p>
            

<div class="rcontainer">
  <div class="flex-item">
    <div class="rheader">Module Attendance Grids</div>
    <p style="width:80%;">All modules for Each group listed. Clicking on the module name will display in grid format each student marked in or out per module.</p>
    <div class="icon"><i class="fa fa-address-book-o"></i></div>
    <a href="/classgroups" class="button">See It</a>
    
  </div>
  <div class="flex-item">
    <div class="rheader">Student % Attendance Module</div>
    <p style="width:80%;">All modules for Each group listed. Clicking on the module name will display in table format each student feaction and & in or out per module.</p>
    <div class="icon"><i class="fa fa-folder"></i></div>
    <a href="/groupmodules" class="button">See It</a>

  </div>

 
  <!-- Add more flex-items as needed -->
</div>


  


  <div class="rcontainer">
    <div class="flex-item">
      <div class="rheader">Manual Attendance</div>
      <p style="width:80%;">Clicking here will allow you to generate See a list of all classes. By Picking the class you want you will then be presented with a list of modules
      Select the module you want and from there you can manually change attendance.</p>
      <div class="icon"><i class="fa fa-address-book-o"></i></div>
      <a href="/manualattendance" class="button">See It</a>
      
    </div>

    <div class="flex-item">
      <div class="rheader">Overall Attendance Student</div>
      <p style="width:80%;">Clicking here will allow you to generate See a list of all classes. By Picking the class you want you will then be presented with a list of all students
        By selecting the student name you want to see you can see the course attendance for that student so far.</p>
      <div class="icon"><i class="fa fa-folder"></i></div>
      <a href="/classgroupsoverall" class="button">See It</a>
      

    </div>


    <!-- Add more flex-items as needed -->
  </div>



</div>




<%- include('../partials/footer') -%>
</body>
</html>
