

<%- include('../partials/header') -%>
<div class="container">
   
    <h1>Verification Pending</h1>
    <div class="rcontainer">
            
       
           
                
            <div class="flex-item">
                <h2>Verification Needed</h2>
                <p>Before you can access any of the features of this applicatin you need to have your account verified by admin.</p>
                <p>This is a quick process so please check again soon</p>
                <p>If this is taking too long please let your IT department know.</p>
            </div>
       
          
        
   
    </div>

    </div>

    <%- include('../partials/footer') -%>